@font-face {
    font-family: 'Core Sans A 45 Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Core Sans A 45 Regular'), url('CoreSansA45Regular.woff') format('woff');
}

@font-face {
    font-family: 'Core Sans A 65 Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Core Sans A 65 Bold'), url('CoreSansA65Bold.woff') format('woff');
}