// Color Palette
$color-white: #fff;
$color-font: #0D1C2D;
$color-main-bg: #F5F5F5;
$color-main: #0054FD;
$color-main-hover: #0043CA;
$color-gray: #D6D7D9;
$color-light-gray: #EDEDED;
$color-dark-gray: #8E8E8E;
$color-active-green: #39DA3F;

// Media Queries Breakpoints
$desktop: 1280px;
$tablet: 1024px;
$mobile: 620px;