body {
  font-family: "Core Sans A 45 Regular";
  background: #F5F5F5;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

code {
  font-size: 12px;
  color: #8E8E8E;
  padding: 20px 30px;
  display: block;
}

header {
  background: #fff;
  height: 50px;
}
@media (min-width: 1024px) {
  header {
    min-width: 280px;
    min-height: 100vh;
    height: auto;
  }
}

main {
  padding: 50px 40px;
}
@media (min-width: 1024px) {
  main {
    padding: 80px 54px 80px 80px;
  }
}

@media (min-width: 1024px) {
  .u-grid-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "sidebar content content content content ";
  }
  .u-grid-body main {
    grid-column: content;
  }
}

@media (min-width: 1024px) {
  .u-grid-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "content content aside";
    gap: 5%;
  }
  .u-grid-main .main-content {
    grid-column: content;
  }
}

.main-content__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0 0 clamp(30px, 3vw, 50px) 0;
}
.main-content__title h1 {
  font-size: clamp(22px, 3vw, 30px);
  letter-spacing: 0.8px;
  color: #0D1C2D;
}

.main-aside {
  background: #fff;
  border-radius: 15px;
  width: 100%;
  min-height: 500px;
  margin: 50px 0 0 0;
}
@media (min-width: 1024px) {
  .main-aside {
    min-height: 100vh;
    margin: 0;
  }
}

.users {
  display: flex;
  gap: 12px;
}

.user {
  display: block;
  position: relative;
  transition-duration: 0.2s;
}
.user__img {
  width: 35px;
  height: 35px;
  border-radius: 15px;
  overflow: hidden;
}
.user__img img {
  width: 100%;
  display: block;
}
.user__name {
  font-size: 10px;
  line-height: 20px;
  color: #fff;
  white-space: nowrap;
  background: #0d1c2d;
  position: absolute;
  padding: 0 5px;
  border-radius: 3px;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  transition-duration: 0.1s;
  opacity: 0;
}
.user:hover .user__img {
  box-shadow: 0px 0px 0px 3px #fff;
  transition-duration: 0.2s;
}
.user:hover .user__name {
  top: calc(100% + 5px);
  opacity: 1;
  transition-duration: 0.2s;
}
.user__no-photo .user__img {
  background: #EDEDED;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user__no-photo .user__img p {
  font-size: 13px;
  color: #8E8E8E;
}
.user__plus {
  background: url("../img/icons/plus-regular-w.svg") #0054FD no-repeat;
  background-size: 11px;
  background-position: center;
  width: 35px;
  height: 35px;
  border-radius: 15px;
  overflow: hidden;
  transition-duration: 0.2s;
}
.user__plus:hover {
  background: url("../img/icons/plus-regular-w.svg") #0043CA no-repeat;
  background-size: 11px;
  background-position: center;
  transition-duration: 0.2s;
}
.user.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  right: 0;
  width: 7px;
  height: 7px;
  background: #39DA3F;
  border-radius: 100%;
  box-shadow: 0px 0px 0 2px #F5F5F5;
}

.gallery__item {
  height: 195px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: end;
  background: #D6D7D9;
  transition-duration: 0.2s;
}
.gallery__item__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  transition-duration: 0.2s;
}
.gallery__item__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery__item__bg::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.3));
}
.gallery__item__title {
  padding: clamp(15px, 1.8vw, 25px);
  width: 100%;
  position: relative;
}
.gallery__item__title h3 {
  font-family: "Core Sans A 65 Bold";
  font-size: 12px;
  letter-spacing: 0.8px;
  color: #fff;
}
.gallery__item__title h3 span {
  font-family: "Core Sans A 45 Regular";
  font-weight: 400;
  display: block;
  opacity: 0.7;
  margin: 5px 0 0 0;
}
.gallery__item__time {
  font-family: "Core Sans A 65 Bold";
  font-size: 12px;
  letter-spacing: 1px;
  color: #fff;
  position: absolute;
  top: 18px;
  right: 18px;
}
.gallery__item--video::after {
  content: "";
  position: absolute;
  bottom: clamp(15px, 1.8vw, 25px);
  right: clamp(10px, 1.8vw, 20px);
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background: url(../img/icons/play-w.svg) rgba(255, 255, 255, 0.4) no-repeat;
  background-position: center;
}
.gallery__item--video .gallery__item__title {
  width: calc(100% - 100px);
}
.gallery__item--no-photo .gallery__item__bg::after {
  display: none;
}
.gallery__item--no-photo .gallery__item__title h3,
.gallery__item--no-photo .gallery__item__time {
  color: #0D1C2D;
}
.gallery__item--no-photo.gallery__item--video::after {
  background: url(../img/icons/play-g.svg) rgba(255, 255, 255, 0.4) no-repeat;
  background-position: center;
}
.gallery__item:hover {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  transition-duration: 0.4s;
}
.gallery__item:hover.gallery__item--no-photo {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}
.gallery__item:hover .gallery__item__bg {
  transform: scale(1.1);
  transition-duration: 0.8s;
}
.gallery.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "item";
  gap: 20px;
}
@media (min-width: 1280px) {
  .gallery.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "item item item";
    gap: 25px;
  }
  .gallery.grid .gallery__item {
    grid-column-start: 2 span;
  }
  .gallery.grid .gallery__item:nth-child(4n+2), .gallery.grid .gallery__item:nth-child(4n+3) {
    grid-column-start: 1 span;
  }
}
@media (min-width: 620px) and (max-width: 1024px) {
  .gallery.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "item item item";
    gap: 25px;
  }
  .gallery.grid .gallery__item {
    grid-column-start: 2 span;
  }
  .gallery.grid .gallery__item:nth-child(4n+2), .gallery.grid .gallery__item:nth-child(4n+3) {
    grid-column-start: 1 span;
  }
}/*# sourceMappingURL=styles.css.map */